
.icon-schedule:before { content: '\e800'; } /* '' */
.icon-views:before { content: '\e802'; } /* '' */
.icon-burger:before { content: '\e803'; } /* '' */
.icon-code_rounded:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-comment-1:before { content: '\e809'; } /* '' */
.icon-vertical-points:before { content: '\e838'; } /* '' */
.icon-Roundabout:before { content: '\e900'; } /* '' */
.icon-pins-group:before { content: '\e901'; } /* '' */
.icon-glyph:before { content: '\e904'; } /* '' */
.icon-add:before { content: '\e90a'; } /* '' */
.icon-arrow_back:before { content: '\e90b'; } /* '' */
.icon-arrow_forward_ios:before { content: '\e90c'; } /* '' */
.icon-arrow_left:before { content: '\e90d'; } /* '' */
.icon-call:before { content: '\e90e'; } /* '' */
.icon-camera_alt:before { content: '\e90f'; } /* '' */
.icon-close:before { content: '\e910'; } /* '' */
.icon-cookie:before { content: '\e911'; } /* '' */
.icon-create:before { content: '\e912'; } /* '' */
.icon-description:before { content: '\e913'; } /* '' */
.icon-directions_bus:before { content: '\e914'; } /* '' */
.icon-directions_car:before { content: '\e915'; } /* '' */
.icon-directions_lifebuoy:before { content: '\e916'; } /* '' */
.icon-directions_marshrutka:before { content: '\e917'; } /* '' */
.icon-directions_trolleybus:before { content: '\e918'; } /* '' */
.icon-directions_walk:before { content: '\e919'; } /* '' */
.icon-directions:before { content: '\e91a'; } /* '' */
.icon-email:before { content: '\e91b'; } /* '' */
.icon-expand_less:before { content: '\e91c'; } /* '' */
.icon-expand_more:before { content: '\e91d'; } /* '' */
.icon-facebook_rounded:before { content: '\e91e'; } /* '' */
.icon-flag:before { content: '\e91f'; } /* '' */
.icon-image:before { content: '\e920'; } /* '' */
.icon-info:before { content: '\e921'; } /* '' */
.icon-insert_comment:before { content: '\e922'; } /* '' */
.icon-language:before { content: '\e923'; } /* '' */
.icon-mobile_friendly:before { content: '\e924'; } /* '' */
.icon-navigation:before { content: '\e925'; } /* '' */
.icon-near_me:before { content: '\e926'; } /* '' */
.icon-pan_tool:before { content: '\e927'; } /* '' */
.icon-place:before { content: '\e928'; } /* '' */
.icon-print:before { content: '\e929'; } /* '' */
.icon-remove:before { content: '\e92a'; } /* '' */
.icon-report_problem:before { content: '\e92b'; } /* '' */
.icon-ring_volume:before { content: '\e92c'; } /* '' */
.icon-search:before { content: '\e92d'; } /* '' */
.icon-share:before { content: '\e92e'; } /* '' */
.icon-straighten:before { content: '\e92f'; } /* '' */
.icon-swap_calls:before { content: '\e930'; } /* '' */
.icon-write:before { content: '\e931'; } /* '' */
.icon-2D:before { content: '\e932'; } /* '' */
.icon-3D:before { content: '\e933'; } /* '' */
.icon-start:before { content: '\e936'; } /* '' */
.icon-finish:before { content: '\e937'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-odnoklassniki:before { content: '\f30c'; } /* '' */